In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
from scipy import stats
from scipy.stats import norm

In [11]:
cars=pd.read_csv("Cars.csv")

In [12]:
cars

          HP        MPG    VOL          SP         WT
0         49  53.700681   89.0  104.185353  28.762059
1         55  50.013401   92.0  105.461264  30.466833
2         55  50.013401   92.0  105.461264  30.193597
3         70  45.696322   92.0  113.461264  30.632114
4         53  50.504232   92.0  104.461264  29.889149
..       ...        ...    ...         ...        ...
78       263  34.000000   50.0  151.598513  15.769625
79       295  19.833733  119.0  167.944460  39.423099
80       236  12.101263  107.0  139.840817  34.948615
81  Skewness  -0.177947    NaN         NaN        NaN
82  Kurtosis  -0.611679    NaN         NaN        NaN

[83 rows x 5 columns]

In [16]:
# P(MPG>38)
1-stats.norm.cdf(38,cars.MPG.mean(),cars.MPG.std())

0.3369715229361355

In [17]:
# P(MPG<40)
stats.norm.cdf(38,cars.MPG.mean(),cars.MPG.std())

0.6630284770638645

In [18]:
# P (20<MPG<50)
stats.norm.cdf(50,cars.MPG.mean(),cars.MPG.std())-stats.norm.cdf(20,cars.MPG.mean(),cars.MPG.std())

0.8432214290633053