In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
%matplotlib inline

In [2]:
cars=pd.read_csv("Q9_b.csv")
cars

   Unnamed: 0          SP         WT
0           1  104.185353  28.762059
1           2  105.461264  30.466833
2           3  105.461264  30.193597
3           4  113.461264  30.632114
4           5  104.461264  29.889149
..        ...         ...        ...
80         81  139.840817  34.948615
81   Skewness    1.611450  -0.614753
82   Kurtosis    2.977329   0.950291
83       Mean  121.540272  32.412577
84     Median  118.208698  32.734518

[85 rows x 3 columns]

In [3]:
cars.skew()

<ipython-input-3-c91fce41ca93>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cars.skew()

SP   -2.715501
WT   -1.292093
dtype: float64

In [4]:
cars.kurt()

<ipython-input-4-6022755cf23c>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cars.kurt()

SP    15.205547
WT     2.994138
dtype: float64