In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
from scipy import stats

In [2]:
data=pd.read_csv("/content/wc-at.csv")
data

      Waist      AT
0     74.75   25.72
1     72.60   25.89
2     81.80   42.60
3     83.95   42.80
4     74.65   29.84
..      ...     ...
104  100.10  124.00
105   93.30   62.20
106  101.80  133.00
107  107.90  208.00
108  108.50  208.00

[109 rows x 2 columns]

In [3]:
data.skew()

Waist    0.134056
AT       0.584869
dtype: float64

In [6]:
data.kurt()

Waist   -1.102667
AT      -0.285576
dtype: float64